@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome to Kubek</h1>
<p>
    Kubek is an implementation of API's to connect to Kubernetes cluster with managed code (it uses <a href="https://github.com/kubernetes-client/csharp">Kubernetes Client written in C#</a>).
    In order to run the app, you will need an active Kubernetes cluster to work with.
    <br/>
    Features:
</p>
<ul>
    <li>login to cluster and view resources</li>
    <li>
        <a asp-page="/Kubek/Dashboard">simple dashboard</a> and use real-time to showcase results
    </li>
    <li>extensibility functionalities</li>
</ul>
<h2>
    Dashboard example, if you are authenticated
</h2>
<img alt="web view"
     class="img-fluid"
     src="https://csacoresettings.blob.core.windows.net/public/meetup-web-view.png"/>
