@page
@model DashboardPageModel

@{
    ViewData["Title"] = "Kubek dashboard";
}

<h1>
    Kubek dashboard for @Model.Name
</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List namespaces</h5>
                <h6 class="card-subtitle mb-2 text-muted">list namespaces inside cluster </h6>
                <p class="card-text">
                    List namespaces based on the user permission on the K8S cluster with their associated pods.
                </p>
                <a class="card-link">Go to </a>
            </div>
        </div>
    </div>
</div>